body{
margin:0px;
background-color: #fff;
}
.container{
margin:0px 120px;
margin-bottom:20px;
}
.header{
display:flex;
justify-content:space-around;
items-align:center;
}
.logo-text{
padding-top:20px;
}
h1{
 color: #cd5c5c;
}
.contact{
padding-top:38px;
}
nav{
padding:0px 130px;
margin:0px;
}
nav ul{
display:flex;
justify-content:space-between;
list-style-type:none;
padding:0px;
margin:0px;
}
.nav-item{
text-decoration:none;
font-size: 30px;
font-weight:600;

padding:0px;
margin:0px;
color: #000;
}

.active{
text-decoration:underline;
}

h2{
color:#000;
}
.bg-box{
background-image: url("../../../images/bg1.jpg");
background-repeat: no-repeat;
height: 601px;
}
.pros{
padding-top:125px;
padding-right:350px;
}

.pros2{
padding-top:125px;
padding-left:350px;
}

.info li{
list-style-type: none;
list-style-image: url("../../images/yes.png");
color:#fff;
font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size:28px;
 line-height:55px;
}

.sub-info{
font-family: Arial;
letter-spacing:7px;
font-size:15px;
color:#fff;
}

.question-box{
box-shadow: 10px 10px 40px 20px #0000001A;

background-color:#fff;
margin-top:-150px;
margin-left:190px;
width:450px;
height:180px;
text-align:center;
}

.question-box2{
box-shadow: 10px 10px 40px 20px #0000001A;

background-color:#fff;
margin-top:-150px;
margin-left:640px;
width:450px;
height:180px;
text-align:center;
}

.question{
padding-top:1px;
margin-bottom:0px;
padding-bottom:0px;
}
.question-text{
line-height:30px;
text-align:justify;
margin-top:0px;
padding: 0px 25px;
}

.bg-box2{
background-image: url("../../images/bg2.jpg");
background-repeat: no-repeat;
height: 601px;
}

.info2 li{
list-style-type: none;
list-style-image: url("../../images/question_mark.png");
color:#fff;
font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size:28px;
 line-height:55px;
}

.bg-box3{
background-image: url("../../images/bg3.jpg");
background-repeat: no-repeat;
height: 601px;
}

.info3 li{
list-style-type: none;
list-style-image: url("../../images/stress_mark.png");
color:#fff;
font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size:28px;
 line-height:55px;
}
.box1{
text-align:center;

}

.bg-shop{
padding-top:20px;
background-image: url("../../images/bg-item.png");
background-repeat: no-repeat;
height:600px;
}
.bg-item-name{
text-align:center;
margin-bottom:20px;
}
.bg-item-name h2{
color:#fff;
}

.bg-hijama{
background-color:#2E8B57;
height:530px;
padding-top:70px;
}
.hijama-box{
display:flex;
justify-content:space-around;
}

.cert-desc{
padding: 0px 40px;
color:#fff;
font-size:24px;
}
.bg-certs{
background-color:#FF8C00;
height:593px;
padding-top:7px
}
.certs-box{
display:flex;
justify-content:space-around;
}
